<!-- templates/booking_app/view_bookings.html -->
{% extends 'booking_app/base.html' %} {% block title %}My Bookings{% endblock %}
{% block content %}
<h1>My Bookings</h1>
{% if bookings %}
<ul>
  {% for booking in bookings %}
  <li>
    {{ booking.booking_date }} - {{ booking.booking_time }} - {{
    booking.restaurant.name }} - Table {{ booking.table.table_number }}
    <form
      method="post"
      action="{% url 'cancel_booking' booking.id %}"
      style="display: inline"
    >
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Cancel</button>
    </form>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>You have no bookings.</p>
{% endif %} {% endblock %}
